<div class="container">
  <h1>Homes for renting</h1>
  <div class="cards-container mt-5">
    <% @houses.each do |house| %>
      <%= link_to house_path(house), class: 'house-link' do %>
        <div class="card house-card" style="width: 18rem;">
          <img src="https://source.unsplash.com/random" class="card-img-top house-img" style='height:15rem'>
          <div class="card-body">
            <h5 class="card-title"><%= house.address %></h5>
            <p class="card-text">Hosted By Laura</p>
            <p class='card-text'><u><strong>£<%= house.price %></strong> total</p></u>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
