.cards-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 16px;
  padding: 0 16px;
  flex-grow: 1;
}

.house-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;

}

.house-img {
  border-radius: 10px;
}

.house-link {
  color: black;
  text-decoration: none;
  &:hover {
    color:black
  }
}



.review-card {
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        margin-top: 5px;
}

@media (max-width: 1200px) {
  .cards-container {
      grid-template-columns: auto auto auto;
    }
}
@media (max-width:992px) {
  .cards-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: auto;
  }
  .house-card {
    margin: auto;
  }
}
